- const siteData = require("../../assets/site.json")
for category in siteData.dungeons
	for dungeon in category.packs
		.subpage.hidden(id=dungeon.name, data-display-name = dungeon.displayName, data-favicon = require(`../../assets/images/icons/${dungeon.name}.png`).default)
			.sidebar
				img.pack-icon(data-src = require(`../../assets/images/icons/${dungeon.name}.png`).default)
			.main
				h1 #{dungeon.displayName}
				h2 #{dungeon.details.subheading}
				br
				br
				p1.description #{dungeon.details.description}
				br
				br
				br
				br
				if dungeon.details.buttons
					.tab-group
						.tabs
							.tab-group-type Downloads
							.button-tab.selected(data-tab-type = "link", onclick = "tabClickHandler(event)") Links
							.button-tab(data-tab-type = "mirror", onclick = "tabClickHandler(event)") Mirrors
						.tab-pages
							.tab.link
								for button in dungeon.details.buttons
									if button.type == "download"
										a.button-download(target="_blank", href=button.link)
											.icon: include ../../assets/images/symbols/download.svg
											span #{button.text}
									else
										a.button-download(target="_blank", href=button.link) #{button.text}
							.tab.mirror.hidden
								for button in dungeon.details.buttons
									if button.type == "download"
										a.button-mirror(target="_blank", href=button.mirror)
											.icon: include ../../assets/images/symbols/download.svg
											span #{button.text}
									else
										a.button-mirror(target="_blank", href=button.mirror) #{button.text}
				if dungeon.details.extras
					.tab-group
						.tabs
							.tab-group-type Extras
							.button-tab.selected(data-tab-type = "link", onclick = "tabClickHandler(event)") Links
							if dungeon.details.extras.some(e => e.mirror)
								.button-tab(data-tab-type = "mirror", onclick = "tabClickHandler(event)") Mirrors
						.tab-pages
							.tab.link
								for button in dungeon.details.extras
									if button.local
										a.button-download(href=`?${button.type}=${button.name}`, onclick=`loadPack("dungeon", "${button.name}", event)`) #{button.text}
									if !button.local
										if button.type == "download"
											a.button-download(target="_blank", href=button.link)
												.icon: include ../../assets/images/symbols/download.svg
												span #{button.text}
										else
											a.button-download(target="_blank", href=button.link) #{button.text}
							if dungeon.details.extras.some(e => e.mirror)
								.tab.mirror.hidden
									for button in dungeon.details.extras
										if !button.local
											if button.type == "download"
												a.button-mirror(target="_blank", href=button.mirror)
													.icon: include ../../assets/images/symbols/download.svg
													span #{button.text}
											else
												a.button-mirror(target="_blank", href=button.mirror) #{button.text}
					br
					br
				if dungeon.details.video
					h2 Here is a video:
					iframe(width="560", height="315", data-src=`https://www.youtube.com/embed/${dungeon.details.video}`, frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
				if dungeon.details.images
					h2 Here are some screenshots:
					for image in dungeon.details.images
						img.showcase-img(data-src = require(`../../assets/images/showcase-images/${dungeon.name}/${image}.png`).default)
			.sidebar
				img.pack-icon(data-src = require(`../../assets/images/icons/${dungeon.name}.png`).default)