.sidebar
.main
	h1 Renders
	a(target="_blank", href="./assets/images/renders/4k/aerial_faith_plate.png")
		img.homeImage(data-src=require("../../assets/images/renders/aerial_faith_plate.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/bb-8.png")
		img.homeImage(data-src=require("../../assets/images/renders/bb-8.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/claptrap.png")
		img.homeImage(data-src=require("../../assets/images/renders/claptrap.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/combine_turret.png")
		img.homeImage(data-src=require("../../assets/images/renders/combine_turret.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/companion_cube.png")
		img.homeImage(data-src=require("../../assets/images/renders/companion_cube.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/cyclone.png")
		img.homeImage(data-src=require("../../assets/images/renders/cyclone.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/dog.png")
		img.homeImage(data-src=require("../../assets/images/renders/dog.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/ewan.png")
		img.homeImage(data-src=require("../../assets/images/renders/ewan.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/glados.png")
		img.homeImage(data-src=require("../../assets/images/renders/glados.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/loader.png")
		img.homeImage(data-src=require("../../assets/images/renders/loader.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/manhack.png")
		img.homeImage(data-src=require("../../assets/images/renders/manhack.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/panel.png")
		img.homeImage(data-src=require("../../assets/images/renders/panel.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/pickup_truck.png")
		img.homeImage(data-src=require("../../assets/images/renders/pickup_truck.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/room.png")
		img.homeImage(data-src=require("../../assets/images/renders/room.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/room_new.png")
		img.homeImage(data-src=require("../../assets/images/renders/room_new.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/runner.png")
		img.homeImage(data-src=require("../../assets/images/renders/runner.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/sabre_turret.png")
		img.homeImage(data-src=require("../../assets/images/renders/sabre_turret.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/snowplough.png")
		img.homeImage(data-src=require("../../assets/images/renders/snowplough.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/space_core.png")
		img.homeImage(data-src=require("../../assets/images/renders/space_core.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/storage_cube.png")
		img.homeImage(data-src=require("../../assets/images/renders/storage_cube.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/storage_cube_active.png")
		img.homeImage(data-src=require("../../assets/images/renders/storage_cube_active.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/striderchan.png")
		img.homeImage(data-src=require("../../assets/images/renders/striderchan.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/tank.png")
		img.homeImage(data-src=require("../../assets/images/renders/tank.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/turret.png")
		img.homeImage(data-src=require("../../assets/images/renders/turret.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/wall-e.png")
		img.homeImage(data-src=require("../../assets/images/renders/wall-e.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/warden.png")
		img.homeImage(data-src=require("../../assets/images/renders/warden.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/wheatley.png")
		img.homeImage(data-src=require("../../assets/images/renders/wheatley.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/wheatley_evil_glados.png")
		img.homeImage(data-src=require("../../assets/images/renders/wheatley_evil_glados.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/worm.png")
		img.homeImage(data-src=require("../../assets/images/renders/worm.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/wynem.png")
		img.homeImage(data-src=require("../../assets/images/renders/wynem.jpg").default)
	a(target="_blank", href="./assets/images/renders/4k/wynem2.png")
		img.homeImage(data-src=require("../../assets/images/renders/wynem2.jpg").default)
.sidebar